body {
    font-family: 'Roboto', sans-serif;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.box{
    height: 50px;
    width: 40;
    display: flex;
    justify-content: center; 
    align-items: center; 
    padding: 10px 20px; 
    background-color: #000000; 
    color: #ffffff;
}

.tabs {
    justify-content: center;
    align-items: center;
    display: flex;
}

.tabs button {
    padding: 25px 20px;
    border: 1px #000000;
    background-color: #000000;
    margin-right: 5px;
    cursor: pointer;
}

.tabs button:hover {
    background-color: #000000;
}

.tab-content {
    display: grid;
    border: 1px solid #ddd;
    padding: 20px 20px;
    border-radius: 0 0 4px 4px;
    color: #ffffff;
    height: 100vh;
}

.foot{
    align-self: end;
}

.foot a{
    padding: 5px;
    color: inherit;
    text-decoration:underline;
}

.foot a:hover {
    padding: 5px;
    color: inherit;
    text-decoration:underline;
}

.footer{
    display: flex;
    border: 1px solid #ddd;
    padding: 8px 10px;
    border-radius: 0 0 2px 2px;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}